<div class="card" style="width: 18rem;">
  <img src="{{element.image}}" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">{{element.title}}</h5>
    <p class="card-text">
      {{element.meal}}
      {{element.servings}}
      {{element.prepTime}}
      {{element.totalPrice}}
    </p>
    <a href="#" class="btn btn-primary" id="recipe-page">Go to Recipe</a>
    <a href="#" class="btn btn-primary" onclick="makeList()">Add</a>
  </div>
</div>

<script src="/utils/helpers.js"></script>