<nav class="navbar" id="recipe-buttons">
<div class="container-fluid">
  <a href="/dashboard"><input
      class="btn btn-primary"
      type="submit"
      value="Back to User Preferences"
    /></a>

  <a href="/recipes"><input
      class="btn btn-primary"
      type="submit"
      id="postRecipe"
      value="Take Me To Recipe Selection"
    /></a>
</div>
</nav>

{{#each recipes as |item|}}
  <div class="card" style="width: 75rem;">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      {{{item.instructions}}}
    </div>
    {{!-- <button
      type="button"
      class="btn btn-primary recipe"
      id={{item.id}}
      onclick="addToList(this.id)"
    >
      Add Recipe
    </button> --}}
  </div>
{{/each}}

<div class="card" style="width: 75rem;">
  <h5>Shopping List</h5>
  {{#each list as |item|}}
    <p style="text-center">{{item.name}} - {{item.amount}} {{item.unit}}</p>
  {{/each}}
</div>

<script type="text/javascript" src="/javascript/recipe2.js"></script>
<script type="module" src="/javascript/recipe.js"></script>