<div class="card" style="width: 18rem;">
  <img src="{{element.image}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{element.title}}</h5>
    <p class="card-text">{{element.instructions}}</p>
  </div>
  <ul class="list-group list-group-flush">
    {{#each item as |list|}}
    <li class="list-group-item">{{item.name}} - {{item.amount}} {{item.unit}}</li>
    {{/each}}
  </ul>
</div>

<div>
  <button onclick=getChoices()>Show More Options</button>
</div>